Repository MickJasker/read-help-platform, pull requests merged in 2020-04, with the labels that each got.

#22 Add docker composer for dev work
  client/Dockerfile
  docker-compose.yml
  server/Dockerfile
Labels: feature

#23 Add basic camera selector view
  .github/workflows/dev-build.yml
  client/.eslintrc.js
  client/src/assets/scss/base.scss
  client/src/components/Camera.vue
  client/src/components/Loader.vue
  client/src/data/Api/Api.ts
  client/src/data/Api/ImageTextApi.ts
  client/src/util/icons.ts
  client/src/views/Home.vue
  client/tests/unit/camera.spec.ts
Labels: feature, frontend

#24 Fix mistake in client eslintrc
  client/.eslintrc.js
Labels: bug, frontend

#25 Feature/reader view
  client/src/assets/svg/backward.svg
  client/src/assets/svg/forward.svg
  client/src/assets/svg/play.svg
  client/src/components/atoms/ButtonForward.vue
  client/src/components/organisms/AudioControls.vue
  client/src/components/organisms/TextContainer.vue
  client/src/router/routes.ts
  client/src/util/icons.ts
  client/src/views/Reader.vue
Labels: feature, frontend

#26 Fix small eslint issue
  client/.eslintrc.js
  client/src/components/FileSelector.vue
  client/src/components/HelloWorld.vue
  client/src/components/molecules/Camera.vue
  client/src/util/icons.ts
  client/src/views/Home.vue
  client/tests/unit/camera.spec.ts
  client/tests/unit/example.spec.ts
Labels: bug, frontend

#27 Dynamic reader view
  client/src/components/atoms/AudioPlayer.vue
  client/src/components/organisms/AudioControls.vue
  client/src/components/organisms/TextContainer.vue
  client/src/data/Api/TextSpeechApi.ts
  client/src/data/User/AuthController.ts
  client/src/util/icons.ts
  client/src/views/Home.vue
  client/src/views/Reader.vue
Labels: feature, frontend

#28 Add basic analytics and performance metrics
  client/src/components/atoms/AudioPlayer.vue
  client/src/data/Api/ImageTextApi.ts
  client/src/data/Api/TextSpeechApi.ts
  client/src/util/firebase.ts
  client/src/views/Home.vue
  client/src/views/Reader.vue
Labels: documentation, feature, frontend

#29 Devops/GitHub actions
  .github/labeler.yml
  .github/workflows/automerge.yml
  .github/workflows/label.yml
Labels: automerge, repo

#30 Add automerge label
  .github/labeler.yml
  .github/workflows/automerge.yml
  .github/workflows/pr-build-verification.yml
Labels: repo

#31 PWA optimizations
  client/public/favicon.ico
  client/public/img/icons/android-chrome-192x192.png
  client/public/img/icons/android-chrome-512x512.png
  client/public/img/icons/android-chrome-maskable-192x192.png
  client/public/img/icons/android-chrome-maskable-512x512.png
  client/public/img/icons/apple-touch-icon-120x120.png
  client/public/img/icons/apple-touch-icon-152x152.png
  client/public/img/icons/apple-touch-icon-180x180.png
  client/public/img/icons/apple-touch-icon-60x60.png
  client/public/img/icons/apple-touch-icon-76x76.png
  client/public/img/icons/apple-touch-icon.png
  client/public/img/icons/favicon-16x16.png
  client/public/img/icons/favicon-32x32.png
  client/public/img/icons/msapplication-icon-144x144.png
  client/public/img/icons/mstile-150x150.png
  client/public/img/icons/safari-pinned-tab.svg
  client/vue.config.js
Labels: frontend

#32 Add pr labeller action
  .github/pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: devops, repo, work in progress

#33 Fix eslint rule not being set properly
  client/.eslintrc.js
Labels: bug, frontend

#34 Fix deploy pipeline
  .github/workflows/label.yml
  .github/workflows/pr-build-verification.yml
  .github/workflows/pr-labeler.yml
Labels: bug, repo

#35 Feature/loading view
  client/package.json
  client/src/assets/svg/backward.svg
  client/src/assets/svg/forward.svg
  client/src/assets/svg/letter-size.svg
  client/src/assets/svg/loader.svg
  client/src/components/Loader.vue
  client/src/components/organisms/AudioControls.vue
  client/src/components/organisms/LetterSize.vue
  client/src/components/organisms/TextContainer.vue
  client/src/views/Reader.vue
  client/yarn.lock
Labels: feature, frontend

#36 Feature/forward view
  client/src/assets/svg/help.svg
  client/src/components/organisms/HelpButton.vue
  client/src/components/organisms/Loader.vue
  client/src/data/Share/Share.ts
  client/src/data/Share/index.ts
  client/src/util/icons.ts
  client/src/views/Home.vue
  client/src/views/Reader.vue
Labels: feature, frontend

#37 Tweak playback rate
  server/src/services/text-to-speech.service.ts
Labels: backend, feature

#38 Update PWA icons
  client/public/img/icons/android-chrome-192x192.png
  client/public/img/icons/android-chrome-512x512.png
  client/public/img/icons/android-chrome-maskable-192x192.png
  client/public/img/icons/android-chrome-maskable-512x512.png
  client/public/img/icons/apple-touch-icon-120x120.png
  client/public/img/icons/apple-touch-icon-152x152.png
  client/public/img/icons/apple-touch-icon-180x180.png
  client/public/img/icons/apple-touch-icon-60x60.png
  client/public/img/icons/apple-touch-icon-76x76.png
  client/public/img/icons/apple-touch-icon.png
  client/public/index.html
Labels: feature, frontend

#39 Fix image not getting deleted if error is present
  client/src/components/organisms/HelpButton.vue
  client/src/data/Api/ImageTextApi.ts
Labels: bug, frontend

#40 Fix text clipping
  client/src/components/organisms/AudioControls.vue
  client/src/views/Reader.vue
Labels: bug, frontend

#41 Add small UX improvements
  client/src/assets/svg/share.svg
  client/src/components/organisms/HelpButton.vue
  client/src/views/Reader.vue
Labels: bug, frontend

#43 Update version number
  client/package.json
  server/package.json
Labels: backend, frontend, release

#44 1.0.1
  client/package.json
  client/src/views/Reader.vue
  server/package.json
Labels: backend, bug, frontend

#45 1.0.1
  client/package.json
  client/src/views/Reader.vue
  server/package.json
Labels: backend, bug, frontend
